/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  tapping-term-ms = <200>;
  flavor = "tap-preferred";
  quick-tap-ms = <0>;
};

/ {
        combos{
          compatible = "zmk,combos";
          combo_caps {
              timeout-ms = <50>;
              key-positions = <11 17>;
              bindings = <&kp CAPS>;
          };
        };
        keymap {
                compatible = "zmk,keymap";

                0 {
                bindings = <
   &none &kp Q        &kp W       &kp E         &kp R         &kp T           &kp Y     &kp U       &kp I       &kp O       &kp P           &none
   &none &mt LSHFT A  &mt LCTRL S &mt LALT D    &mt LGUI F    &kp G           &kp H     &mt RGUI J  &mt RALT K  &mt RCTRL L &mt RSHFT SEMI  &none
   &none &kp Z        &kp X       &kp C         &kp V         &kp B           &kp N     &kp M       &kp COMMA   &kp DOT     &kp FSLH        &none
                            &mt 1 &tog CAPS &kp ESC       &kp RET         &kp SPACE &kp BSPC    &lt 2 TAB
                        >;
                };
                1 {
                bindings = <
   &none  &kp N1 &kp N2  &kp N3  &kp N4  &kp N5        &kp N6    &kp N7    &kp N8      &kp N9    &kp N0 &none
   &none  &trans &trans  &trans  &trans  &trans        &kp LEFT  &kp DOWN  &kp UP      &kp RIGHT &trans &none
   &none  &trans &trans  &trans  &trans  &trans        &trans    &trans    &trans      &trans    &trans &none
                  &none  &kp ESC &kp RET       &kp SPACE &kp BSPC  &lt 3 TAB
                        >;
                };

                2 {
                bindings = <
   &none  &kp EXCL   &kp AT    &kp HASH      &kp DLLR  &kp PRCNT       &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR &none
   &none  &kp GRAVE  &kp BSLH  &kp LBRC      &kp RBRC  &kp QMARK       &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &kp SQT  &none
   &none  &kp TILDE  &kp PIPE  &trans        &trans    &trans          &kp UNDER &kp PLUS  &kp LT    &kp GT    &kp DQT  &none
                        &lt 3 CAPS  &kp ESC   &kp RET         &kp SPACE &kp BSPC  &none
                        >;
                };
                3 {
                bindings = <
    &none &kp F1        &kp F2        &kp F3        &kp F4        &kp F5              &kp F6      &kp F7    &kp F8      &kp F9  &kp F10 &none
    &none &kp C_BRI_DN  &kp C_BRI_UP  &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP        &kp C_PREV  &kp C_PP  &kp C_NEXT  &trans  &trans  &none
    &none &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3        &trans      &trans    &trans      &trans  &trans  &none
                                &none        &kp ESC       &kp RET             &kp SPACE   &kp BSPC  &none
                        >;
                };
        };
};
